@media (max-width: 715px) {
	.logo h1 {
		padding-left: 0.5em;
		padding-top: 0.5em;
	}
	.feature h1 {
		padding-left: 0.5em;
		padding-top: 0.5em;
	}

    .memory{
        margin-right:.5rem;
    }

	.icon img {
		max-width: 2rem;
		margin: 0 0.5rem;
	}


	.qty {
		height: 40rem;
	}
	.hot {
		height: 75rem;
	}

    .col-left, .col-right{
        float:none;
        display: block;
        width: fit-content;
        margin: 0 auto;
    }

    .col-left 
    .qty-l{
        justify-content: flex-start;
    }
    .qty-block{
        margin:1rem;
    }

    .post-block {
        margin:1rem;
        width: 15rem;
    }


	.footer-link:nth-child(1) {
		margin: 3rem 2rem 5rem 0;
	}

	.footer-link:nth-child(2) {
		margin: 3rem 0 5rem 2rem;
	}


}
